bin/
obj/
.vs/
*.user
*.log
Release/
LogSanitizer_Build/

# Local logs & Test Data
build_log.txt
build_success_check.txt
final_test_log.txt
startup_error.log
startup_trace.log
*.txt
TestLogs/
LogSanitizer_TestData/
!GITHUB_INSTRUCTIONS.txt
!LICENSE.txt